
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Arial', Helvetica, sans-serif;
  background: url(image/backgroung-image.jpg)center/cover no-repeat fixed;
  backdrop-filter: blur(3px);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.app .animated-text{
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  animation: typing 6s steps(30, end) infinite;
}

@keyframes typing {
  0%, 20% {
    width: 0;
  }
  40%, 80%{
    color: #f1f5f9;
  }
  80%, 100% {
    width: 100%;
    color: #06060d;
  }
}

.app {
  background: #020617;
  padding: 30px 20px;
  border-radius: 16px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.6);
  transition: transform 0.3s ease;
}

.app:hover {
  transform: translateY(-3px);
}

h1 {
  margin-bottom: 20px;
  font-size: 28px;
  letter-spacing: 1px;
  color: #f1f5f9;
}

.search {
  display: flex;
  gap: 8px;
  margin-bottom: 10px;
  width: 100%;
}

#cityInput::placeholder {
  font-weight: 500;
}


.search input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  color: #fff;
}

.search input:focus {
  outline: 2px solid #6366f1; /* focus border */
  background-color: #1e293b;
}

.search button {
  padding: 12px 18px;
  border: none;
  border-radius: 10px;
  background: linear-gradient(135deg, #38bdf8, #6366f1);
  color: #020617;
  font-weight: bold;
  cursor: pointer;
   transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.search button:hover {
  opacity: 0.9;
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(99, 102, 241, 0.4);
}


.toggle {
  margin-bottom: 15px;
  margin-top: 20px;
}

.toggle button {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  background: #4ade80;
  color: #020617;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
}

.toggle button:hover {
  background: #22c55e;
}

.loading, .error {
  margin: 10px 0;
  font-weight: bold;
}

.error {
  color: #f87171;
}

.weather {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  transition: all 0.3s ease;
  
}

.weather img.icon {
  width: 100px;
  height: 100px;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-8px); }
  100% { transform: translateY(0); }
}

.temp {
  font-size: 36px;
  font-weight: bold;
}

.description {
  text-transform: capitalize;
  font-size: 18px;
}

.hidden2{
    display: none;
}

/* Responsive */
@media screen and (max-width: 500px) {
  .app {
    padding: 20px 15px;
  }
  
  .search input {
    font-size: 14px;
  }
  
  .search button {
    padding: 10px 14px;
    font-size: 14px;
  }

  .temp {
    font-size: 28px;
  }

  .weather img.icon {
    width: 80px;
    height: 80px;
  }
}
